<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.cognique.pandora"
        versionCode="10"
        version   = "1.0.2">

    <!-- versionCode is optional and Android only -->

    <name>Pandora Dress Agency App</name>

    <description>
        A Designer Label Game 
    </description>

    <author href="https://cognique.co.uk" email="apps@cognique.co.uk">
        Cognique
    </author>

    <preference name="orientation" value="portrait" />

    <gap:platform name="ios" />
    <gap:plugin name="com.phonegap.plugins.childbrowser" />

</widget>